name: Linting

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout mis
      uses: actions/checkout@v6

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install pre-commit
      run: |
        pip install pre-commit
        pre-commit install

    - name: Check files
      run: |
        pre-commit autoupdate --repo https://github.com/pre-commit/pre-commit-hooks
        pre-commit run --all-files
